.button1 {
  color: white;
  background-color: #b43737;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid #b43737;
  cursor: pointer;
}

.button1:hover {
  color: white;
  background-color: #7b2525;
  border: 2px solid #7b2525;
}

.button2 {
  color: #b43737;
  background-color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid #b43737;
  cursor: pointer;
}

.button2:hover {
  color: #b43737;
  background-color: rgb(233, 233, 233);
  border: 2px solid #b43737;
}
